<header>
  <div class="elem-header">
    <a [routerLink]="['/inicio']">
      <img src="/assets/images/colombia.png" style="width: 35px !important;margin:10px"> 
    </a>
  </div>
  <div class="elem-header">
    <fa-icon class="text-warning" style="font-size: 35px;" icon="fire"></fa-icon>
    1000
  </div>
  <div class="elem-header">
    <fa-icon class="text-danger" style="font-size: 35px;" icon="heart"></fa-icon>
    3
  </div>
</header>
<section>
  <div>
    <br>
    <h2 class="text-center"> Ranking</h2>
    <br>
  </div>
  <div>
    <div class="ele">
      <div class="img-ele">
        <fa-icon class="text-black" style="font-size: 25px;" icon="user"></fa-icon>
      </div>
      <div class="txt-ele">
        <span class="name">Juan Camilo Perez</span>
      </div>
      <div class="exp-ele">
        <span class="puntaje text-secondary">1200 EXP</span>
      </div>
    </div>
  </div>
  <div>
    <div class="ele">
      <div class="img-ele">
        <fa-icon class="text-black" style="font-size: 25px;" icon="user"></fa-icon>
      </div>
      <div class="txt-ele">
        <span class="name">Juan Camilo Perez</span>
      </div>
      <div class="exp-ele">
        <span class="puntaje text-secondary">1000 EXP</span>
      </div>
    </div>
  </div>
  <div>
    <div class="ele">
      <div class="img-ele">
        <fa-icon class="text-black" style="font-size: 25px;" icon="user"></fa-icon>
      </div>
      <div class="txt-ele">
        <span class="name">Juan Camilo Perez</span>
      </div>
      <div class="exp-ele">
        <span class="puntaje text-secondary">800 EXP</span>
      </div>
    </div>
  </div>
  <div>
    <div class="ele">
      <div class="img-ele">
        <fa-icon class="text-black" style="font-size: 25px;" icon="user"></fa-icon>
      </div>
      <div class="txt-ele">
        <span class="name">Juan Camilo Perez</span>
      </div>
      <div class="exp-ele">
        <span class="puntaje text-secondary">600 EXP</span>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="elem-footer">
    <fa-icon  style="font-size: 40px;color:#ccc" icon="gamepad"></fa-icon>
  </div>
  <div class="elem-footer">
    <a [routerLink]="['/ranking']"><fa-icon  style="font-size: 40px;color:#ccc" icon="book"></fa-icon></a>
  </div>
  <div class="elem-footer">
    <fa-icon style="font-size: 40px;color:#ccc" icon="sign-out-alt"></fa-icon>
  </div>
</footer>